extends templates/layout

block main
    .container
        .row.b-header__top-item
            .col-md-6.col-sm-12
                .b-header__box-img1
                    img(src="img/header-2.jpg", alt="").b-header__img-1
                    img(src="img/header-1.jpg", alt="").b-header__img-2
                    img(src="img/header-3.jpg", alt="").b-header__img-3
            .col-md-6.col-sm-12
                .b-header__item
                    h1.b-header__item-title Сообщество
                    
                    .b-header__item-text Место для сбора информации о предстоящих турах с проверенными гидами в разные уголки Мира. Мое основное направление – туры в Китай, я каждый год бываю в Поднебесной. С большим удовольствием показываю Китай и открываю его для себя заново. Но, у меня много друзей и коллег, проверенных временем и совместными маршрутами. Я подскажу к кому обратиться и с кем стоит поехать.
                    .b-header__text-top Что можно найти на этом сайте?
                    .b-header__item-text Авторские туры, экспедиции, отчеты путешественников, отзывы о маршрутах и гидах, календарь туров на 1,5 года вперед. Возможность купить тур со скидкой. Узнать о лекциях, вебинарах с Инной Табаковой и другими гидами.
                    .b-header__item-desc Сайт путешественницы Инны Табаковой. Если мы еще не знакомы, давайте знакомиться:
                    .b-header__nav
                        ul
                            li
                                a(href="https://vk.com/qinna") Vk   
                            li
                                a(href="https://www.facebook.com/gfhinna") Fb
                            li   
                                a(href="https://www.ok.ru/dk?st.cmd=anonymMain&st.redirect=%2Ffeed") Ok
                            li    
                                a(href="https://www.instagram.com/innaananta/") Инстаграм
        h3.b-header__item-title.b-header__top-title Команда
        .row.b-header__top
            .col-md-6.col-lg-3
                a(href="http://intatour.ru/ru/article/inna-tabakova-puteshestvennica-i-gid-po-kitayu")
                    .b-header__team
                        .b-header__team-bg
                        h4.b-header__team-title Инна Табакова
                        h6.b-header__team-desc Китай / Авторские туры и экспедиции
                        .b-header__team-text Более 5 лет в сфере туров и экспедиций по всему земному шару

            .col-md-6.col-lg-3
                a(href="http://intatour.ru/ru/page/provodnik-po-kamchatke-dmitriy-petrovskiy")
                    .b-header__team
                        .b-header__team-bg-1
                        h4.b-header__team-title Дмитрий Петровский
                        h6.b-header__team-desc Камчатка / Авторские туры и экспедиции
                        .b-header__team-text Более 5 лет в сфере туров и экспедиций по всему земному шару

            .col-md-6.col-lg-3
                .b-header__team
                    .b-header__team-bg-2
                    h4.b-header__team-title Леонид Мясников
                    h6.b-header__team-desc Непал / Туры в Гималаи
                    .b-header__team-text Более 5 лет в сфере туров и экспедиций по всему земному шару
            .col-md-6.col-lg-3
                a(href="http://intatour.ru/ru/page/v-more-s-dmitriem-ryabchikovym")
                    .b-header__team
                        .b-header__team-bg-3
                        h4.b-header__team-title Дмитрий Рябчиков
                        h6.b-header__team-desc Море / Яхтинг и корабли
                        .b-header__team-text Более 5 лет в сфере туров и экспедиций по всему земному шару
        .row.b-header__top
           
            .col-md-6.col-lg-3
                .b-header__team
                    .b-header__team-bg-4
                    h4.b-header__team-title Роман Мурашев
                    h6.b-header__team-desc Памир / Джип-туры
                    .b-header__team-text Более 5 лет в сфере туров и экспедиций по всему земному шару

            .col-md-6.col-lg-3
                a(href="http://intatour.ru/ru/page/ekonomim-na-perelete")
                    .b-header__team
                        .b-header__team-bg-5
                        h4.b-header__team-title Валерий Царев
                        h6.b-header__team-desc Авиабилеты / Поможет экономить
                        .b-header__team-text Более 5 лет в сфере туров и экспедиций по всему земному шару
            .col-md-6.col-lg-3
                a(href="http://intatour.ru/ru/page/olga-kapustina-gid-po-severu-rossii-i-skandinavii")
                    .b-header__team
                        .b-header__team-bg-6
                        h4.b-header__team-title Ольга Капустина
                        h6.b-header__team-desc Скандинавия / Авторские туры
                        .b-header__team-text Более 5 лет в сфере туров и экспедиций по всему земному шару
            .col-md-6.col-lg-3
                a(href="http://intatour.ru/ru/page/aleksey-kiselev-sozdatel-programm-gid-po-yaponii")
                    .b-header__team
                        .b-header__team-bg-7
                        h4.b-header__team-title Алексей Кузнецов
                        h6.b-header__team-desc Китай / Авторские туры и экспедиции
                        .b-header__team-text Более 5 лет в сфере туров и экспедиций по всему земному шару

                
          
        h3.b-header__item-title.b-header__top-title Логотипы партнеров
        .owl-carousel#carouselOne
            .item
                img(src="img/logotype-1.jpg", alt="").b-header__logo
            .item
                img(src="img/logotype-2.png", alt="").b-header__logo
            .item
                img(src="img/logotype-3.png", alt="").b-header__logo
            .item
                img(src="img/logotype-4.jpg", alt="").b-header__logo
            .item
                img(src="img/logotype-5.png", alt="").b-header__logo
            .item
                img(src="img/logotype-6.png", alt="").b-header__logo
            .item
                img(src="img/logotype-7.png", alt="").b-header__logo
            .item
                img(src="img/logotype-8.png", alt="").b-header__logo
                .b-header__prev
                    i.fas.fa-angle-left.b-header__icons.fa-2x
                .b-header__next
                    i.fas.fa-angle-right.b-header__icons.fa-2x
        h3.b-header__item-title.b-header__top-title Сотрудничество
        ul#myTab.nav.nav-tabs(role='tablist').flex-column
            li.nav-item
                a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Поездки в Китай и другие направления
            li.nav-item
                a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Разработка маршрута по Китаю и другим направлениям.
            li.nav-item
                a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false') Разработка сметы маршрута. Для определения точной стоимости тура, конкретныйх данных (что входит в стоимость, что оплачивается отдельно).
            li.nav-item
                a#active-tab4-tab.nav-link(data-toggle='tab', href='#active-tab4', role='tab', aria-controls='active-tab4', aria-selected='false') Тестирование туристических товаров.
            li.nav-item
                a#active-tab5-tab.nav-link(data-toggle='tab', href='#active-tab5', role='tab', aria-controls='profile', aria-selected='false') Вакансии
            li.nav-item
                a#active-tab6-tab.nav-link(data-toggle='tab', href='#active-tab6', role='tab', aria-controls='profile', aria-selected='false') Сотрудничество с агентами
            li.nav-item
                a#active-tab7-tab.nav-link(data-toggle='tab', href='#active-tab7', role='tab', aria-controls='profile', aria-selected='false') Сотрудничество с представителями

        #myTabContent.tab-content.b-header__tab-content
            #home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab') 
                .row
                    .col-lg-6.col-md-12
                        img(src="img/header-4.jpg", alt="").b-header__box-img
                    .col-lg-6.col-md-12
                        .b-header__item-box--top
                            .b-header__nav-title Поездки в Китай и другие направления.
                            .b-header__nav-text.b-header__nav-text Можно присоединиться к групповым заездам. Или собраться отдельной группой.
            #profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab') 
                .row
                    .col-lg-6.col-md-12
                        img(src="img/header-5.jpg", alt="").b-header__box-img
                    .col-lg-6.col-md-12
                        .b-header__item-box--bottom
                            .b-header__nav-title Разработка маршрута по Китаю и другим направлениям.
                            .b-header__nav-text.b-header__nav-text Иногда нет времени на разработку маршрута. В таком случае, есть вариант взять чей-то уже готовый маршрут и ехать по нему. Но, если что-либо из предложенного не устраивает, - обращайтесь. Сделаем! Разработка маршрута обойдется в 3000 руб.
            #contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab') 
                .row
                    .col-lg-6.col-md-12
                        img(src="img/header-6.jpg", alt="").b-header__box-img
                    .col-lg-6.col-md-12
                        .b-header__item-box--center
                            .b-header__nav-title Разработка сметы маршрута. Для определения точной стоимости тура, конкретныйх данных (что входит в стоимость, что оплачивается отдельно).
                            .b-header__nav-text.b-header__nav-text С недавних пор я перестала практиковать бесплатную разработку сметы, что связано с неоправданными ожиданиями (кому интересно - пишите, поделюсь опытом). Я предоставляю очень подробную смету с учетом всех затрат, заявленных в поездке. Для разработки потребуются: маршрут, количество человек, и указание уровня комфорта. Смета будет готова в течении недели. Стоимость - 6000 руб.
            #active-tab4.tab-pane.fade(role='tabpanel', aria-labelledby='active-tab4-tab') 
                .row
                    .col-lg-6.col-md-12
                        img(src="img/header-7.jpg", alt="").b-header__box-img
                    .col-lg-6.col-md-12
                        .b-header__item-box--bottom
                            .b-header__nav-title Тестирование туристических товаров
                            .b-header__nav-text.b-header__nav-text Есть положительный опыт по данному направлению. Фото- и видеоотчеты, статьи, отзывы. 
            #active-tab5.tab-pane.fade(role='tabpanel', aria-labelledby='active-tab5-tab') 
                .row
                    .col-lg-6.col-md-12
                        img(src="img/header-8.jpg", alt="").b-header__box-img
                    .col-lg-6.col-md-12
                        .b-header__item-box--left
                            .b-header__nav-title Вакансии
                            a(href="#work").b-header__nav-text.b-header__nav-text Часто требуются полезные люди. Давайте о себе знать!
            #active-tab6.tab-pane.fade(role='tabpanel', aria-labelledby='active-tab6-tab') 
                .row
                    .col-lg-6.col-md-12
                        img(src="img/header-9.jpg", alt="").b-header__box-img
                    .col-lg-6.col-md-12
                        .b-header__item-box--bottom
                            .b-header__nav-title Сотрудничество с агентами
                            .b-header__nav-text.b-header__nav-text Мы можем сотрудничать с турфирмой и с физ.лицом, как с агентом. С каждого тура я готова выплачивать процент. 
            #active-tab7.tab-pane.fade(role='tabpanel', aria-labelledby='active-tab7-tab') 
                .row
                    .col-lg-6.col-md-12
                        img(src="img/header-10.jpg", alt="").b-header__box-img
                    .col-lg-6.col-md-12
                        .b-header__item-box--bottom
                            .b-header__nav-title Сотрудничество с представителями
                            .b-header__nav-text.b-header__nav-text Интересно сотрудничество с турфирмами по реализации моих туров в Китай. На контрактной основе готова выплачивать процент за каждого туриста. А также проводить обучение менеджеров для повышения показателей продаж по Китаю, участвовать в лекциях.

 
 
                         
        h3.b-header__item-title.b-header__top-title#work Вакансии
        ul#myTab-1.nav.nav-tabs(role='tablist').flex-column
            li.nav-item
                a#item-1-tab.nav-link.active(data-toggle='tab', href='#item-1', role='tab', aria-controls='item-1', aria-selected='true') Агент
            li.nav-item
                a#item-2-tab.nav-link(data-toggle='tab', href='#item-2', role='tab', aria-controls='item-2', aria-selected='false') Специалист по таргетинговой рекламе в ФБ (бартер)
            li.nav-item
                a#item-3-tab.nav-link(data-toggle='tab', href='#item-3', role='tab', aria-controls='item-3', aria-selected='false') В русское представительство непальской и индийской компаний-туроператоров требуется помощник руководителя по направлению Непал и Индия.
            li.nav-item
                a#item-4-tab.nav-link(data-toggle='tab', href='#item-4', role='tab', aria-controls='item-4', aria-selected='false') Специалист по созданию Travel-фильмов (бартер)
            li.nav-item
                a#item-5-tab.nav-link(data-toggle='tab', href='#item-5', role='tab', aria-controls='item-5', aria-selected='false') Водитель (для тех, кто хочет увидеть Памир, но нет денег на путешествие).
            li.nav-item
                a#item-6-tab.nav-link(data-toggle='tab', href='#item-6', role='tab', aria-controls='item-6', aria-selected='false') Помощник гида. Алтай
            li.nav-item
                a#item-7-tab.nav-link(data-toggle='tab', href='#item-7', role='tab', aria-controls='item-7', aria-selected='false') Волонтер на фрегате Штандарт
        #myTabContent-1.tab-content.b-header__tab-content
            #item-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='#item-1-tab') 
                .row
                    .col-lg-6.col-md-12
                        img(src="img/agent.jpg", alt="").b-header__box-img
                    .col-lg-6.col-md-12
                        .b-header__item-box
                            .b-header__nav-title Агент
                            .b-header__nav-text Человек, который привел туриста для участия в туре, размещенного на этом сайте - это и есть Агент. Например, туры в Китай. Комиссия за туриста для агента - до 10% <br>- Комиссия и скидка для желающих участвовать в туре: 8 туристов (без получения комиссии), последующие туристы с выплатой 10% за каждого.<br> - Бесплатное участие в туре. 8 туристов без выплаты процентов.<br> Туристов не обязательно собирать группой на одну дату. Можно рекомендовать любые туры в Китай. <br><br>Как стать агентом? Заполнить заявку на участие в туре за своего туриста. Укажите, что заявка от вас (Данные ваши: ФИ, адрес почты, телефон). При положительном результате, мы свяжемся и выплатим процент.
 
            #item-2.tab-pane.fade(role='tabpanel', aria-labelledby='#item-2-tab') 
                .row
                    .col-lg-6.col-md-12
                        img(src="img/agent-special.jpg", alt="").b-header__box-img
                    .col-lg-6.col-md-12
                        .b-header__item-box--top
                            .b-header__nav-title Специалист по таргетинговой рекламе в ФБ (бартер)
                            .b-header__nav-text Опыт в обмен на путешествие.<br> Приглашаю посмотреть Китай специалиста по рекламе в ФБ. Самостоятельно оплачивается: авиа билеты, виза, обеды.
 
            #item-3.tab-pane.fade(role='tabpanel', aria-labelledby='#item-3-tab') 
                .row
                    .col-lg-6.col-md-12
                        img(src="img/indian-person.jpg", alt="").b-header__box-img
                    .col-lg-6.col-md-12
                        .b-header__item-box
                            .b-header__nav-title  Требуется помощник руководителя по направлению Непал и Индия.
                            .b-header__nav-text Функционал:<br> - переводы с английского на русский и с русского на английский (тематика – туризм)<br> - форматирование туристических программ (добавление интересных фактов, вставка фотографий, общее форматирование)<br> - коммуникация с непальскими/индийскими партнерами - создание рассылок по электронной почте - SMM (посты в соцсетях на страничке компании) <br>- создание макетов для печати рекламных материалов, программ <br>- написание PR-статей
            #item-4.tab-pane.fade(role='tabpanel', aria-labelledby='#item-4-tab') 
                .row
                    .col-lg-6.col-md-12
                        img(src="img/travel.jpg", alt="").b-header__box-img
                    .col-lg-6.col-md-12
                        .b-header__item-box--top
                            .b-header__nav-title  Специалист по созданию Travel-фильмов (бартер)
                            .b-header__nav-text Готова взять в Китай человека способного сделать: рекламный ролик поездки, фильм о туре в Китай по итогам поездки.
            #item-5.tab-pane.fade(role='tabpanel', aria-labelledby='#item-5-tab') 
                .row
                    .col-lg-6.col-md-12
                        img(src="img/driver.jpg", alt="").b-header__box-img
                    .col-lg-6.col-md-12
                        .b-header__item-box--center
                            .b-header__nav-title Водитель (для тех, кто хочет увидеть Памир, но нет денег на путешествие).
                            .b-header__nav-text В русское представительство непальской и индийской компаний-туроператоровВакансия для тех, кто хотел побывать на Памире. Организатору тура на Памир требуется опытный водитель. Условия участия: Машина от организатора.<br> Самостоятельно оплачивается билеты до Оша и обратно, пермит, обеды.
            #item-6.tab-pane.fade(role='tabpanel', aria-labelledby='#item-6-tab') 
                .row
                    .col-lg-6.col-md-12
                        img(src="img/gid.jpg", alt="").b-header__box-img
                    .col-lg-6.col-md-12
                        .b-header__item-box
                            .b-header__nav-title Помощник гида. Алтай
                            .b-header__nav-text Что требуется: Опыт активных путешествий, физическая выносливость, хорошее здоровье. Лидерские качества, доброжелательность и навык деликатно общаться с людьми, даже с особо нервными. Не унывать от дискомфорта походной жизни. А так же большое желание работать гидом, любовь к путешествиям и новым знакомствам обязательны.<br><br>Условия работы: Возможна полная занятость с мая до середины сентября. Возможна частичная занятость. Составляются индивидуальные графики. Бонусом - дружный коллектив, много новых, интересных знакомств и возможность увидеть Алтай во всей красе! Резюме на почту: olgaaltay2015@gmail.com
            #item-7.tab-pane.fade(role='tabpanel', aria-labelledby='#item-7-tab') 
                .row
                    .col-lg-6.col-md-12
                        img(src="img/ship.jpg", alt="").b-header__box-img
                    .col-lg-6.col-md-12
                        .b-header__item-box--center
                            .b-header__nav-title Волонтер на фрегате Штандарт
                            .b-header__nav-text Каждый год корабль выходит в море и каждый год требует проверки и ремонта. Команда корабля всегда рада новым знакомствам и приглашает всех желающих присоединиться к проекту. Волонтёры, в течение долгого времени активно участвовавшие в делах Штандарта, или помогавшие готовить корабль к плаваниям, зачисляются в экипаж на специальных условиях. Решение об этом принимает руководитель организации, с учётом волонтёрского стажа, опыта плаваний, личных умений и качеств. Заполняйте заявку, указав свое желание быть волонтером
        h3.b-header__item-title.b-header__top-title#work Чтобы связаться с нами, заполните, пожалуйста, форму
            .row
                .col-lg-6.col-md-12
                    form(method="post")
                    input(type="text",placeholder="Имя:").b-header__input
                    input(type="email",placeholder="E-mail:").b-header__input
                    input(type="email",placeholder="Телефон:").b-header__input
                    textarea(cols="38", rows="5",placeholder="Сообщение:").b-header__area
                    select.b-header__select
                        option(value='Заявка на тур') Заявка на тур
                        option(value='Разместить отзыв,отчет') Разместить отзыв,отчет
                        option(value='Подписка на новость') Подписка на новость
                        option(value='Сотрудничество/Обращение по вакансии ') Сотрудничество/Обращение по вакансии 
                        option(value='Реклама') Реклама 
                        option(value='Технические проблем') Технические проблемы
                    button.b-header__btn Отправить
                .col-lg-6.col-md-12
                    .b-header__box-form
                        h4.b-header__box-title Будем на связи!
                        h6.b-header__box-text Я часто провожу встречи-лекции в разных городах. Делюсь своим опытом, рассказываю о самостоятельных путешествиях и о том, как присоединиться в моим турам. График встреч и вебинаров ЗДЕСЬ. Отследить новости можно подписавшись на рассылку или в группах сайта:
                        .b-header__box-icon
                            ul
                                li
                                    a(href="")
                                        i.fab.fa-whatsapp
                                li
                                    a(href="")
                                        i.class.fab.fa-telegram
                                li
                                    a(href="")
                                        i.fab.fa-vk
                                li
                                    a(href="")
                                        i.fab.fa-facebook-f
            
            
            
            
            


            










        
            
               
            
                    
                    
                    
           
            
            